<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">401 Page Not Authorized</h2>
          <small class="sub-title">You are not authorized to visit the page, try logging in with other
            accounts</small>
          <button nbButton fullWidth (click)="goToLogin()" type="button" status="primary" class="home-button">
            Take me home
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>