<form [formGroup]="f" (ngSubmit)="onSubmit()" #fm="ngForm">
  <nb-card>
    <nb-card-header>
      <div class="modal-header-title">
        <div cdkFocusInitial class="title" tabindex="-1">{{ mode === 'add' ? 'Add' : 'Edit' }} User</div>
        <button nbButton size="small" ghost (click)="cancel()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
      <nb-alert *ngIf="errMsgAddOrUpdateUser$ | async as errMsgAddOrUpdateUser" status="danger" role="alert">
        <p class="alert-title"><b>Error returned from server!</b></p>
        <div>{{ errMsgAddOrUpdateUser }}</div>
      </nb-alert>
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="txtUserEid" class="label">EID/HID</label>
        <input class="required" nbInput type="text" fullWidth fieldSize="tiny" formControlName="userEid" id="txtUserEid"
          [status]=" f.get('userEid').touched && f.get('userEid').errors ? 'danger' : 'basic'" />
        <ng-container *ngIf="f.get('userEid').invalid && f.get('userEid').touched">
          <p class="caption status-danger" *ngIf="f.get('userEid').errors?.required">
            EID/HID is required
          </p>
          <p class="caption status-danger" *ngIf="f.get('userEid').errors?.pattern">
            wrong EID/HID format detected
          </p>
        </ng-container>
      </div>

      <div class="form-group">
        <nb-checkbox id="chkIsActive" formControlName="isActive">Is Active
        </nb-checkbox>
      </div>

      <div class="form-group">
        <label for="ddlRoles" class="label">Role</label>
        <nb-select class="required" fullWidth size="tiny" placeholder="- select role -" formControlName="role"
          [selected]="role$ | async" id="ddlRoles"
          [status]=" f.get('role').touched && f.get('role').errors ? 'danger' : 'basic'">
          <nb-option *ngFor="let r of allRoles" [value]="r">{{r}}</nb-option>
        </nb-select>
        <ng-container *ngIf="f.get('role').invalid && f.get('role').touched">
          <p class="caption status-danger" *ngIf="f.get('role').errors?.required">
            user must be assigned roles
          </p>
        </ng-container>
      </div>

      <div [hidden]="f.get('role').value === 'superadmin'" class="form-group">
        <label for="ddlSystems" class="label">Systems</label>
        <nb-select class="required" fullWidth size="tiny" multiple placeholder="- select systems -" id="ddlSystems"
          formControlName="systems"
          [status]=" f.get('systems').touched && f.get('systems').errors ? 'danger' : 'basic'">
          <nb-option *ngFor="let sys of allSystems" [value]="sys">{{sys}}</nb-option>
        </nb-select>
        <ng-container *ngIf="f.get('systems').invalid && f.get('systems').touched">
          <p class="caption status-danger" *ngIf="f.get('systems').errors?.required">
            systems are required
          </p>
        </ng-container>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button class="cancel" type="button" nbButton size="small" status="danger" (click)="cancel()">
        <i class="eva eva-close-square-outline"></i>
        &nbsp;close
      </button>
      <button type="submit" nbButton size="small" status="success" [disabled]="!f.valid">
        <i class="eva eva-save-outline"></i>
        &nbsp;save
      </button>
    </nb-card-footer>
  </nb-card>
</form>